fastapi
uvicorn
langchain
langchain-groq
langchain-huggingface
langchain-core
groq
requests
exa-py
feedparser
opencv-python-headless
ffmpeg-python
mediapipe
pydantic
email-validator
yt-dlp
webvtt-py
sqlalchemy
psycopg2-binary
pinecone
celery
redis
python-dotenv
# AI Voice-Over Dubbing
gtts
elevenlabs
# Viral Score# AI/ML & Vision
librosa
scikit-learn
langchain-experimental
sentence-transformers
torch
torchvision
numpy
pandas
matplotlib==3.8.3

# Core Tools
huggingface-hub
# Security & Access Control
passlib[bcrypt]
python-jose[cryptography]
python-multipart
